<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
    <style>   

        @import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"; 

        * {
            padding: 0;
            text-decoration: none;
            margin: 0;
            border: 0;
            outline: none;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif !important;
            /* font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; */
            -webkit-font-smoothing: antialiased;
        }

        html, body {
            height: 100%;
        }

        body {
            background: radial-gradient(ellipse at bottom, #09090D 0%, rgb(15, 15, 17) 100%);
        }

        canvas {
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }

        #players_login {
            position: absolute;
            width: 100%;
            height: 100%;
            display: block;
        }

        .players-filter {
            position: relative;
            top: 40%;
            left: 50%;
            width: 18rem;
            height: 10.8rem;
            transform: translate(-50%, -50%);
            padding: 0.5rem;
            background-color: #09090B;
            border: 1px solid #5a585896;
            border-radius: 3px;
        }

        #input {
            position: relative;
            top: 3.4rem;
            left: 50%;
            transform: translate(-50%);
            width: 95%;
            height: 2.8rem;
            font-weight: 550;
            padding-left: 0.6rem;
            border-radius: 3px;
            color: #000;
            background-color: #E9EFFD;
            text-align: center;
        }

        #input::placeholder {
            color: #000;
        }

        #button {
            position: relative;
            bottom: -4rem;
            left: 50%;
            transform: translate(-50%);
            width: 95%;
            height: 2.5rem;
            font-weight: 500;
            color: white;
            border-radius: 3px;
            background-color: hwb(220 26% 3%);
            cursor: pointer;
            transition: all 120ms ease-in;
        }

        #button:hover {
            background-color: #427ef759;
            color: #e4dede6b;
            width: 90%;
            height: 2.52rem;
        }

        .lockauth {
            position: absolute;
            top: 0.5rem;
            left: 50%;
            transform: translate(-50%);
            text-align: center;
            height: max-content;
            font-size: 30px;
            color: white;
            font-weight: 650;
            background-image: linear-gradient(135deg, rgb(47, 128, 237) 0%, rgb(178, 255, 218) 100%); 
            background-clip: text; 
            -webkit-text-fill-color: transparent; 
            background-repeat: no-repeat;
        }


        .discord {
            position: absolute;
            top: 3rem;
            right: 5rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background: linear-gradient(135deg, rgb(42, 39, 218), rgb(0, 204, 255)); 
            box-shadow: rgba(0, 77, 255, 0.5) 0px 4px 24px;
            color: white;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9;
            cursor: pointer;
            transition: all ease-in 100ms;
        }

        .discord:hover {
            filter: brightness(70%);
        }

        /* .twitter {
            position: absolute;
            top: 3rem;
            right: 9rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            background: radial-gradient(ellipse at bottom, #09090D 0%, rgb(15, 15, 17) 100%);
            box-shadow: #5a5a5a57 0px 4px 24px;
            color: white;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 99;
        } */
    </style>
</head>
<body>
    <!-- <a target="_blank" class="discord">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 640 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M524.531,69.836a1.5,1.5,0,0,0-.764-.7A485.065,485.065,0,0,0,404.081,32.03a1.816,1.816,0,0,0-1.923.91,337.461,337.461,0,0,0-14.9,30.6,447.848,447.848,0,0,0-134.426,0,309.541,309.541,0,0,0-15.135-30.6,1.89,1.89,0,0,0-1.924-.91A483.689,483.689,0,0,0,116.085,69.137a1.712,1.712,0,0,0-.788.676C39.068,183.651,18.186,294.69,28.43,404.354a2.016,2.016,0,0,0,.765,1.375A487.666,487.666,0,0,0,176.02,479.918a1.9,1.9,0,0,0,2.063-.676A348.2,348.2,0,0,0,208.12,430.4a1.86,1.86,0,0,0-1.019-2.588,321.173,321.173,0,0,1-45.868-21.853,1.885,1.885,0,0,1-.185-3.126c3.082-2.309,6.166-4.711,9.109-7.137a1.819,1.819,0,0,1,1.9-.256c96.229,43.917,200.41,43.917,295.5,0a1.812,1.812,0,0,1,1.924.233c2.944,2.426,6.027,4.851,9.132,7.16a1.884,1.884,0,0,1-.162,3.126,301.407,301.407,0,0,1-45.89,21.83,1.875,1.875,0,0,0-1,2.611,391.055,391.055,0,0,0,30.014,48.815,1.864,1.864,0,0,0,2.063.7A486.048,486.048,0,0,0,610.7,405.729a1.882,1.882,0,0,0,.765-1.352C623.729,277.594,590.933,167.465,524.531,69.836ZM222.491,337.58c-28.972,0-52.844-26.587-52.844-59.239S193.056,219.1,222.491,219.1c29.665,0,53.306,26.82,52.843,59.239C275.334,310.993,251.924,337.58,222.491,337.58Zm195.38,0c-28.971,0-52.843-26.587-52.843-59.239S388.437,219.1,417.871,219.1c29.667,0,53.307,26.82,52.844,59.239C470.715,310.993,447.538,337.58,417.871,337.58Z"></path></svg>    
    </a> -->
    <!-- <a href="https://discord.gg/y6UYwndthp" target="_blank" class="twitter">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"></path></svg>
    </a> -->
    <div id="players_login">
        <div class="players-filter">
            <form action="/submit" method="post">
                <span class="lockauth">LockAuth</span>
                <input type="text" name="inputValue" id="input" placeholder="Type Your Api Key">
                <button type="submit" id="button">Submit</button>
            </form>
        </div>
    </div>

    <script>
        class Smoke {
        constructor(options) {
            const defaults = {
            width: window.innerWidth,
            height: window.innerHeight
            };

            Object.assign(this, options, defaults);
            this.onResize = this.onResize.bind(this);

            this.addEventListeners();
            this.init();
        }

        init() {
            const { width, height } = this;

            this.clock = new THREE.Clock();

            const renderer = this.renderer = new THREE.WebGLRenderer();

            renderer.setSize(width, height);

            this.scene = new THREE.Scene();

            const meshGeometry = new THREE.BoxGeometry(200, 200, 200); // CubeGeometry yerine BoxGeometry kullanıldı
            const meshMaterial = new THREE.MeshBasicMaterial({ // MeshLambertMaterial yerine MeshBasicMaterial veya MeshStandardMaterial kullanılabilir
            color: 0xaa6666,
            wireframe: false
            });
            this.mesh = new THREE.Mesh(meshGeometry, meshMaterial);

            this.cubeSineDriver = 0;

            this.addCamera();
            this.addLights();
            this.addParticles();
            this.addBackground();

            document.body.appendChild(renderer.domElement);
        }

        evolveSmoke(delta) {
            const { smokeParticles } = this;

            let smokeParticlesLength = smokeParticles.length;

            while (smokeParticlesLength--) {
            smokeParticles[smokeParticlesLength].rotation.z += delta * 0.2;
            }
        }

        addLights() {
            const { scene } = this;
            const light = new THREE.DirectionalLight(0xffffff, 0.75);

            light.position.set(-1, 0, 1);
            scene.add(light);
        }

        addCamera() {
            const { scene } = this;
            const camera = this.camera = new THREE.PerspectiveCamera(75, this.width / this.height, 1, 10000);

            camera.position.z = 1000;
            scene.add(camera);
        }

        addParticles() {
            const { scene } = this;
            const textureLoader = new THREE.TextureLoader();
            const smokeParticles = this.smokeParticles = [];

            textureLoader.load('https://rawgit.com/marcobiedermann/playground/master/three.js/smoke-particles/dist/assets/images/clouds.png', function (texture) {
            const smokeMaterial = new THREE.MeshBasicMaterial({ // MeshLambertMaterial yerine MeshBasicMaterial veya MeshStandardMaterial kullanılabilir
                color: 0xffffff,
                map: texture,
                transparent: true,
                opacity: 0.1
            });
            smokeMaterial.map.minFilter = THREE.LinearFilter;
            const smokeGeometry = new THREE.PlaneBufferGeometry(300, 300);

            const smokeMeshes = [];
            let limit = 150;

            while (limit--) {
                smokeMeshes[limit] = new THREE.Mesh(smokeGeometry, smokeMaterial);
                smokeMeshes[limit].position.set(Math.random() * 500 - 250, Math.random() * 500 - 250, Math.random() * 1000 - 100);
                smokeMeshes[limit].rotation.z = Math.random() * 360;
                smokeParticles.push(smokeMeshes[limit]);
                scene.add(smokeMeshes[limit]);
            }
            });
        }

        addBackground() {
            const { scene } = this;
            const textureLoader = new THREE.TextureLoader();
            const textGeometry = new THREE.PlaneBufferGeometry(600, 320);

            textureLoader.load('https://cdn.discordapp.com/attachments/1037346625057730560/1226643639472623667/image.png?ex=662583e9&is=66130ee9&hm=e457f85ecdeaa16302ef02fab95b289310c39f4ade9f9202eebedd51db0cec3f&', function (texture) {
            const textMaterial = new THREE.MeshBasicMaterial({ // MeshLambertMaterial yerine MeshBasicMaterial veya MeshStandardMaterial kullanılabilir
                blending: THREE.AdditiveBlending,
                color: 0xffffff,
                map: texture,
                opacity: 1,
                transparent: true
            });
            textMaterial.map.minFilter = THREE.LinearFilter;
            const text = new THREE.Mesh(textGeometry, textMaterial);

            text.position.z = 900;
            scene.add(text);
            });
        }

        render() {
            const { mesh } = this;
            let { cubeSineDriver } = this;

            cubeSineDriver += 0.01;

            mesh.rotation.x += 0.005;
            mesh.rotation.y += 0.01;
            mesh.position.z = 100 + Math.sin(cubeSineDriver) * 500;

            this.renderer.render(this.scene, this.camera);
        }

        update() {
            this.evolveSmoke(this.clock.getDelta());
            this.render();

            requestAnimationFrame(this.update.bind(this));
        }

        onResize() {
            const { camera } = this;

            const windowWidth = window.innerWidth;
            const windowHeight = window.innerHeight;

            camera.aspect = windowWidth / windowHeight;
            camera.updateProjectionMatrix();

            this.renderer.setSize(windowWidth, windowHeight);
        }

        addEventListeners() {
            window.addEventListener('resize', this.onResize);
        }
        }
        // const smoke = new Smoke();
        // smoke.update();
    </script>
</body>
</html>